@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --color-red: #dd7e92;
  --color-green: #38af90;
  --text-gray: #797979;
  --color-form: #f0f0f0;
  --color-Whiter: #ffffff;
  --color-footer: #383838;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  padding: 14px 10px;
  background-color: var(--color-green);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  color: var(--color-Whiter);
  position: fixed;
}


.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

.null-px {
font-size: 0;
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container-header a {
  text-decoration: none;
}

.container-header h1 {
  color: var(--color-Whiter);
  font-size: 18px;
  font-weight: 700;
}
.container-header img {
  width: 62px;
}

.container-header ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu-items {
  list-style: none;
}
.container-news {
  padding: 140px 10px 40px 10px;
  background-color: var(--color-Whiter);
  color: var(--text-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-tittle {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.box-news {
  background-color: var(--color-form);
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 28px;
}
.box-news h3 {
  margin-top: 4px;
  margin-bottom: 3px;
  font-size: 1rem;
}
.box-news h4 {
  font-size: 0.75rem;
  border-bottom: 3px solid var(--color-green);
  margin-bottom: 2px;
}
.box-news p {
  font-size: 0.625rem;
}
.box-news article {
  font-size: 0.625rem;
}
.box-news h5 {
  height: 21px;
  font-size: 0.875rem;
  color: var(--color-red);
  cursor: pointer;
}
.Green-color {
  color: var(--color-green);
}

.button {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 244px;
  height: 67px;
}

.button input {
  width: 100%;
  height: 100%;
  background-color: var(--color-red);
  color: var(--color-Whiter);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.container-gamer {
  width: 100%;
  min-width: 320px;
  padding: 12px 10px;
  background-color: var(--color-form);
  color: var(--text-gray);
}
.container-gamer h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  margin-top: 28px;
}

.box-gamer-aling {

}
.box-gamer-aling-center{
display: flex;
flex-wrap: wrap;
}

.box-gamer {
  width: 100%;
  max-width: 300px;
  height: 326px;
  background-color: var(--color-Whiter);
  border-radius: 8px;
  margin-bottom: 28px;
  margin-right: 28px;
  display: flex;
  flex-direction: column;
}

.box-gamer img {
  width: 300px;
  height: 168.54px;
  border-radius: 8px 8px 0 0;
}

.content-box div {
  width: 300px;
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-text {
  font-size: 0.75rem;
}

.score {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 13px;
}


#signUp {
  width: 100%;

}

.container-signUp {
  padding: 40px 10px;
  background-color: var(--color-Whiter);
  color: var(--text-gray);
}
.container-signUp h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.box-form {
  height: 100%;
  background-color: var(--color-form);
  border-radius: 8px;
  margin-bottom: 28px;
  padding: 52px 0 33px 0;
}
.box-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-input-form input {
  border-radius: 4px;
  width: 17.5rem;
  height: 50px;
  padding: 13px 22px;
  border: 1px solid var(--text-gray);
  margin-bottom: 20px;
}

.preferred-platform-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preferred-platform{
  width:17.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

#ctrl-news{
  margin: 30px 0 38px 0;
}

.button-clear {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 244px;
  height: 67px;
  margin-top: 20px ;
}

.button-clear input {
  width: 100%;
  height: 100%;
  background-color: var(--color-Whiter);
  color: var(--color-red);
  font-size: 18px;
  border: none;
  border-radius: 8px;
  border: 1px solid var(--color-red);
}
.box-form-button{
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
}

footer {
  background-color: var(--color-footer);
  color: var(--color-Whiter);
  padding: 28px;
}

.container-footer {
  /*width: 1200px;*/
  /*max-width: 990px;*/
  height: 302px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  justify-content: center;
}

.form-container-footer {
  size: 14px;
  font-weight: 100;
  text-size: 14px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--color-Whiter);
}

@media(min-width: 1200px ) {

.null-px {
   font-size: 14px;
}

.container-header li {
  margin: 0 29px 0 0; 

}
.box-gamer-aling-center {
justify-content: center;
}
.box-input-form input {
  width: 642px;
}
.preferred-platform{
  width:40.125rem;
  
}
.button-clear{
  margin: 0 ;
  margin-left: 52px;
}
.box-form-button{
  display: flex;
justify-content: center;

}

footer{
height: 11.875rem;
display: flex;
justify-content: center;
}
.container-footer {
  width: 1200px;
  height: 100%;
  max-width: 990px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
}